<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Tip Calculator</title>
</head>

<body>
    <div id="app">
        <h1><span id="tip-word">Tip</span> calculator</h1>
        <div>
            <label>Bill Amount:</label><input v-model="billAmount" type="number" id="bill-amount"></br>
            <label>Percentage Tip:</label><input v-model="percentageTip" type="number" id="percentage-tip"></br>
            <label>Tip Amount:</label>
            <!-- :value significa que el valor del input siempre va a valer lo que valga la variable tipAmount -->
            <input type="number" id="tip-amount" :value="tipAmount" disabled></br>
            <label>Total:</label><input type="number" id="total" disabled></br>
            <button @click="calculateTip" id="calculate">Calculate</button>
        </div>
    </div>
    <script type="module" src="app.js"></script>
</body>

</html>